<div class="d-flex flex-column align-items-center">
   <h2>Bienvenidos al chat!!</h2>
   <div class="bg-secondary-subtle">
    LAST MESSAGES
    <span id="allMessages">Aca van los msjs</span>
   </div>
   <div class="w-50 d-flex justify-content-center align-items-center">
        <span class="fw-bold" id="nickname"></span>
      <input class="w-100 p-2 m-2" type="text" name="message" id="message" placeholder="escribi aca burro"/>
   </div>
</div>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/chat.js"></script>